
* {
    font-family: sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}
.navbar-center {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
header {
    background: darkolivegreen;
}